.list {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding-bottom: 2rem;
}

    .list .card {
        display: flex;
        flex-direction: column;
        gap: 0.25rem;
        padding: 0.5rem;
        border: 1px solid;
        border-radius: 0.25rem;
        cursor: pointer;
        transition: all .2s ease-in-out;
    }

        .list .card:hover {
            border-color: var(--primary);
            color: var(--primary);
        }

        .list .card:active,
        .list .card:focus {
            background-color: rgba(var(--primary-rgb), 0.2);
            color: var(--text-color);
        }

@media (max-width: 759px) {
    .grid {
        display: none;
    }
}

@media (min-width: 760px) {
    .list {
        display: none;
    }
}

:: deep .quickgrid[theme=default] {
    color: var(--body-text-color);
}

    ::deep .quickgrid[theme=default] .col-title {
        color: var(--body-text-color);
    }

    ::deep .quickgrid[theme=default] .sort-indicator {
        color: var(--body-text-color);
    }
