* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border-width: 0;
    border-style: solid;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

:root {
    --body-color: #E4E9F7;
    --body-text-color: #010718;
    --nav-color: #4070F4;
    --side-nav: #010718;
    --text-color: #FFF;
    --primary: #00bbf0;
    --dialog-background: #fff;
    --button-text-color: var(--body-text-color);
    --select-background-color: #333;
    --select-text-color: #fff;
    --dialog-box-shadow: 5px 5px 15px 5px rgba(160,160,160,0.7);
    --font: Montserrat, Helvetica, sans-serif;
}

body {
    height: 100vh;
    background-color: var(--body-color);
    color: var(--body-text-color);
    font-family: var(--font);
}

input[type="date"]::-webkit-calendar-picker-indicator {
    cursor: pointer;
    border-radius: 4px;
    margin-right: 2px;
    opacity: 0.8;
    filter: invert(0.6);
}

    input[type="date"]::-webkit-calendar-picker-indicator:hover {
        opacity: 1
    }

body.dark {
    --body-color: #18191A;
    --body-text-color: #CCC;
    --button-text-color: var(--body-text-color);
    --nav-color: #242526;
    --side-nav: #242526;
    --text-color: #CCC;
    --dialog-background: #272727;
    --dialog-box-shadow: unset;
}

    body.dark nav {
        border: 1px solid #393838;
    }
