* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border-width: 0;
    border-style: solid;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

:root {
    --body-color: #E4E9F7;
    --body-text-color: #010718;
    --nav-color: #4070F4;
    --side-nav: #010718;
    --text-color: #FFF;
    --primary: #00bbf0;
    --primary-rgb: 0, 187, 240;
    --dialog-background: #fff;
    --button-text-color: var(--body-text-color);
    --select-background-color: #333;
    --select-text-color: #fff;
    --dialog-box-shadow: 5px 5px 15px 5px rgba(160,160,160,0.7);
    --font: Montserrat, Helvetica, sans-serif;
}

body {
    height: 100vh;
    background-color: var(--body-color);
    color: var(--body-text-color);
    font-family: var(--font);
}

input[type="date"]::-webkit-calendar-picker-indicator {
    cursor: pointer;
    border-radius: 4px;
    margin-right: 2px;
    opacity: 0.8;
    filter: invert(0.6);
}

    input[type="date"]::-webkit-calendar-picker-indicator:hover {
        opacity: 1
    }

body.dark {
    --body-color: #18191A;
    --body-text-color: #CCC;
    --button-text-color: var(--body-text-color);
    --nav-color: #242526;
    --side-nav: #242526;
    --text-color: #CCC;
    --dialog-background: #272727;
    --dialog-box-shadow: unset;
}

    body.dark nav {
        border: 1px solid #393838;
    }

.quickgrid[theme=default] {
    color: var(--body-text-color);
}

    .quickgrid[theme=default] .col-title {
        color: var(--body-text-color);
    }

    .quickgrid[theme=default] .sort-indicator {
        background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path fill="black" d="M 2 3.25 L 12 20.75 L 22 3.25 L 12 10 z" /></svg>');
    }

body.dark .quickgrid[theme=default] .sort-indicator {
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path fill="white" d="M 2 3.25 L 12 20.75 L 22 3.25 L 12 10 z" /></svg>');
}

.flex-end {
    align-self: flex-end;
}


a {
    text-decoration: none;
    color: var(--text-color);
}

    a:hover {
        text-decoration: underline;
    }
