@inherits CodeBreaker.UI.Shared.Components.Input.CodeBreakerInputBase
@namespace CodeBreaker.UI

<label for="inp" class="inp">
    <input type="text" id="inp" autocomplete="off" @onchange=@((args) => ValueChanged.InvokeAsync(args?.Value?.ToString() ?? string.Empty))>
    <span class="label">Label</span>
    <span class="focus-bg"></span>
</label>
