.dialog {
    position: absolute;
    z-index: 100;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dialog-content {
    background-color: var(--dialog-background);
    box-shadow: var(--dialog-box-shadow);
    padding: 1rem 2rem;
}

.actions {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 0.5rem;
    align-self: flex-end;
    width: 70%;
}
