@namespace CodeBreaker.UI

<FluentDialog id="dialog" Hidden="ModalHidden" Modal="false" style="position: absolute; z-index: 100; --dialog-height: unset;">
    <div class="flex-column" style="padding: 1rem; position: relative">
        <FluentButton @onclick="CloseDialog" style="position: absolute; right: 1rem; top: 1rem;">
            <FluentIcon Name="@FluentIcons.ShareScreenStop" Size="@IconSize.Size24" Filled=false />
        </FluentButton>
        @if (!String.IsNullOrWhiteSpace(_title))
        {
           <h3>@_title</h3>
        }
        <div>
            @_dialogContent
        </div>
        <div class="actions" style="display:flex; justify-content: flex-end; align-items: center; gap: 0.5rem;">
            @foreach(var context in _dialogActions)
            {
                <FluentButton Appearance="Appearance.Accent" @onclick="() => CallAction(context.Action)">
                    @context.Label
                </FluentButton>
            }
        </div>
    </div>
</FluentDialog>



