@page "/about"

<h3>@Loc["About_Title"]</h3>

<CodeBreakerTabs>
    <CodeBreakerTab Title="@Loc["About_Information_Tab"]">
        <div class="tab-container">
            TODO :-)
        </div>
    </CodeBreakerTab>
    <CodeBreakerTab Title="@Loc["About_Instructions_Tab"]">
        <div class="tab-container">
            @((MarkupString)instructions)
        </div>
    </CodeBreakerTab>
</CodeBreakerTabs>



