body {
}

.peg {
    display: inline-block;
    border-radius: 50%;
    border: 3px solid black;
    width: 100px;
    height: 100px;
	margin: 4px;
}



.red {
    background-image: radial-gradient(red 5%, black 90%);
}

.green {
    background-image: radial-gradient(green 5%, black 90%);
}

.blue {
    background-image: radial-gradient(blue 5%, black 90%);
}

.black {
    background-image: radial-gradient(black 5%, black 90%);
}

.white {
    background-image: radial-gradient(white 5%, white 90%);
}

.yellow {
    background-image: radial-gradient(yellow 5%, black 90%);
}
