@page "/game"

<h2>Game @_game?.Type.Name</h2>

@if (_gameStatus == GameMode.NotRunning)
{
    <div class="flex start-game-container">
        <CodeBreakerTextField CssClass="flex-1" @bind-Value="_name" Label="Enter your gamername" Required="true" RequiredError="The name is required" MaxLength="100" />
        <CodeBreakerRadioGroup @bind-Value="_selectedGameType" Items="_gameTypes"></CodeBreakerRadioGroup>
        <CodeBreakerButton Disabled="@(String.IsNullOrWhiteSpace(_name) || String.IsNullOrWhiteSpace(_selectedGameType))" OnClick="async () => await StartGameAsync()">
           Start the game
        </CodeBreakerButton>
    </div>
}
else if (_game.HasValue && _gameStatus is GameMode.Started or GameMode.MoveSet)
{
    <Playground Game="_game.Value"></Playground>
}
