.content-container {
    overflow-y: auto;
    padding: 1rem 0.25rem 2rem;
    grid-template-columns: 1fr 1fr;
}

h6 {
    font-size: 1.5rem;
}

::deep .card {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
}
