@page "/"

<PageTitle>Index</PageTitle>

<h1>Welcome to <b>CodeBreaker!</b></h1>

<div class="content-container wrap-container gap-3">
    <CodeBreakerCard Class="card">
        <HeaderContent>
            <h6>Game</h6>
        </HeaderContent>
        <CardContent>
            <p>Play the game and try to crack the code.</p>
        </CardContent>
        <CardActions>
            <CodeBreakerButton OnClick="@(() => NavigateTo("/game"))">Play the game</CodeBreakerButton>
        </CardActions>
    </CodeBreakerCard>
    <CodeBreakerCard Class="card">
        <HeaderContent>
            <h6>Reports</h6>
        </HeaderContent>
        <CardContent>
            <p>Here you can view played games.</p>
        </CardContent>
        <CardActions>
            <CodeBreakerButton OnClick="@(() => NavigateTo("/reports"))">Show the reports</CodeBreakerButton>
        </CardActions>
    </CodeBreakerCard>
    <CodeBreakerCard Class="card">
        <HeaderContent>
            <h6>About</h6>
        </HeaderContent>
        <CardContent>
            <p>Need more information about the game? This page is the right one for you.</p>
        </CardContent>
        <CardActions>
            <CodeBreakerButton OnClick="@(() => NavigateTo("/about"))">Read More</CodeBreakerButton>
        </CardActions>
    </CodeBreakerCard>
</div>
