@page "/"

<PageTitle>Index</PageTitle>

<h1>Welcome to <b>CodeBreaker!</b></h1>

<MudGrid>
    <MudItem xs="12" sm="6" md="4">
        <MudCard>
            <MudCardHeader>
                <CardHeaderContent>
                    <MudText Typo="Typo.h6">Game</MudText>
                </CardHeaderContent>
                <CardHeaderActions>
                    <MudIconButton Icon="@Icons.Outlined.VideogameAsset" />
                </CardHeaderActions>
            </MudCardHeader>
            <MudCardContent>
                <MudText>Play the game and try to crack the code.</MudText>
            </MudCardContent>
            <MudCardActions>
                <MudButton Variant="Variant.Text" Color="Color.Primary" Href="/game">Play the game</MudButton>
            </MudCardActions>
        </MudCard>
    </MudItem>
    <MudItem xs="12" sm="6" md="4">
        <MudCard>
            <MudCardHeader>
                <CardHeaderContent>
                    <MudText Typo="Typo.h6">Reports</MudText>
                </CardHeaderContent>
                <CardHeaderActions>
                    <MudIconButton Icon="@Icons.Outlined.ViewList" />
                </CardHeaderActions>
            </MudCardHeader>
            <MudCardContent>
                <MudText>Here you can view played games.</MudText>
            </MudCardContent>
            <MudCardActions>
                <MudButton Variant="Variant.Text" Color="Color.Primary" Href="/reports">Show the reports</MudButton>
            </MudCardActions>
        </MudCard>
    </MudItem>
    <MudItem xs="12" sm="6" md="4">
        <MudCard>
            <MudCardHeader>
                <CardHeaderContent>
                    <MudText Typo="Typo.h6">About</MudText>
                </CardHeaderContent>
                <CardHeaderActions>
                    <MudIconButton Icon="@Icons.Outlined.Info" />
                </CardHeaderActions>
            </MudCardHeader>
            <MudCardContent>
                <MudText>Need more information about the game? This page is the right one for you.</MudText>
            </MudCardContent>
            <MudCardActions>
                <MudButton Variant="Variant.Text" Color="Color.Primary" Href="/about">Read More</MudButton>
            </MudCardActions>
        </MudCard>
    </MudItem>
</MudGrid>
