body {
}

.keypeg {
    display: inline-block;
    border-radius: 50%;
    border: 3px solid black;
    width: 30px;
    height: 30px;
	margin: 2px;
}

.black {
    background-image: radial-gradient(black 5%, black 90%);
}

.white {
    background-image: radial-gradient(white 5%, white 90%);
}