@page "/reports"
@using CodeBreaker.Shared.Models.Api;

<h2>@Loc["Reports_Title"]</h2>

<div class="flex-column gap-5">
    <EditForm class="flex-column full-width gap-2" Model="_filter">
        <div>
            <CodeBreakerDatePicker Label="@Loc["Report_SelectDate_Label"]" @bind-Date="_filter.Date" />
        </div>
        <div style="align-self: flex-end;">
            <CodeBreakerButton Disabled=@_isLoadingGames @onclick="async () => await GetGames()">
                @if (_isLoadingGames)
                {
                    <CodeBreakerProgressCircular Class="progress"></CodeBreakerProgressCircular>
                }
                @Loc["Reports_LoadGames_Action"]
            </CodeBreakerButton>
        </div>
    </EditForm>

    @if (_games is not null && !_isLoadingGames)
    {
        if (_games.Count != 0)
        {
            <CodeBreakerDataGrid Items="_games" Columns="_columns" Headers="_headers" RowItemClicked="(GameDto game) => ShowReportDialog(game)" />
        }
        else
        {
            <p>@Loc["Report_NoReports"]</p>
        }
    }
</div>
