@page "/reports"
@using CodeBreaker.Shared.Models.Api;
@inject IStringLocalizer<Resource> Loc

<h2>Reports</h2>

<div class="flex-column gap-5">
    <EditForm Model="_filter">
        <div>
            <CodeBreakerDatePicker Label="Select the date" @bind-Date="_filter.Date" />
        </div>
        <div xs="12" md="3">
            <CodeBreakerButton Disabled=@_isLoadingGames @onclick="async () => await GetGames()">
                @if (_isLoadingGames)
                {
                    <CodeBreakerProgressCircular Class="progress"></CodeBreakerProgressCircular>
                }
                @Loc["LoadingGames"]
            </CodeBreakerButton>
        </div>
    </EditForm>

    @if (_games is not null && !_isLoadingGames)
    {
        if (_games.Count > 0)
        {
            <CodeBreakerDataGrid Items="_games" Columns="_columns" Headers="_headers" RowItemClicked="(GameDto game) => ShowReportDialog(game)">
            </CodeBreakerDataGrid>
        }
        else
        {
            <p>Es wurden keine Reports gefunden.</p>
        }
    }
</div>
