@using Microsoft.AspNetCore.Components.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@using Microsoft.Extensions.Options
@inject NavigationManager NavigationManager
@inject IOptionsSnapshot<RemoteAuthenticationOptions<ApiAuthorizationProviderOptions>> Options
@inject IStringLocalizer<Resource> Loc

<AuthorizeView>
    <Authorized>
        <span id="text-before-username">@Loc["Auth_TextBeforeUsername"]</span> @context.User.Identity?.Name
        <FluentSpacer Width="20" />
        <FluentButton Appearance="Appearance.Stealth" OnClick="Logout" IconStart="new Icons.Regular.Size20.SignOut()">
            @Loc["Auth_Signout"]
        </FluentButton>
    </Authorized>
    <NotAuthorized>
        <FluentButton Appearance="Appearance.Stealth" OnClick="Login" IconStart="new Icons.Regular.Size20.PersonAccounts()">
            @Loc["Auth_Signin"]
        </FluentButton>
    </NotAuthorized>
</AuthorizeView>

@code {
    private void Logout() =>
        NavigationManager.NavigateToLogout(Options.Get(Microsoft.Extensions.Options.Options.DefaultName).AuthenticationPaths.LogOutPath);

    private void Login() =>
        NavigationManager.NavigateToLogin(Options.Get(Microsoft.Extensions.Options.Options.DefaultName).AuthenticationPaths.LogInPath);
}