h1 {
    font-size: 1.5em;
    margin: 0;
}

@media only screen and (max-width : 600px) {
    #welcome-message {
        display: none;
    }
}

.layout {
    height: 100%;
    display: grid;
    grid-template-areas:
        "header"
        "rest";
    grid-template-rows: auto 1fr;
}

.layout > .header-wrapper {
    grid-area: header;
}

.layout > .main-layout-stack {
    grid-area: rest;
    display: grid;
    grid-template-areas:
        "mobile-menu mobile-menu"
        "sidenav content";
    grid-template-rows: auto 1fr;
    grid-template-columns: auto 1fr;
}

.layout > .main-layout-stack > .large-navigation {
    grid-area: sidenav;
    box-shadow: var(--elevation-shadow-card-rest);
    position: sticky;
    top: 0;
    overflow: hidden;
}
.layout > .main-layout-stack > .small-navigation {
    grid-area: mobile-menu;
    display: none;
}

@media only screen and (max-width: 1000px) {
    .layout > .main-layout-stack > .large-navigation {
        display: none;
    }
    .layout > .main-layout-stack > .small-navigation {
        display: block;
    }
}

.layout > .main-layout-stack > .body-content {
    grid-area: content;
    padding: 1rem;
}