@inherits CodeBreaker.UI.Shared.Components.DataGird.CodeBreakerDataGridBase<T>
@namespace CodeBreaker.UI
@typeparam T

@if (_columnDefinitions.Count > 0 && Items.Count > 0)
{
    <FluentDataGrid TItem="T" id="manualGrid" RowsData="Items" OnRowFocus="OnRowClicked" GridTemplateColumns="@_columnTemplate" ColumnDefinitions="_columnDefinitions">
        <HeaderCellTemplate>
            <h5>@context?.Title</h5>
        </HeaderCellTemplate>
        <RowItemTemplate>
            <FluentDataGridRow>
                @for (var i = 0; i < _columnDefinitions.Count; i++)
                {
                    var column = i + 1;
                    var localIndex = i;
                    <FluentDataGridCell GridColumn="column">
                        @_columnDefinitions[localIndex]?.FieldSelector(context)
                    </FluentDataGridCell>
                }
            </FluentDataGridRow>

        </RowItemTemplate>
    </FluentDataGrid>
}



