.nav-links {
    display: flex;
    align-items: center;
}

    .nav-links li {
        margin: 0 5px;
        list-style: none;
    }

.nav-links li a {
    position: relative;
    font-size: 17px;
    font-weight: 400;
    color: var(--text-color);
    text-decoration: none;
    padding: 10px;
}

    .nav-links li a::before {
        content: '';
        position: absolute;
        left: 50%;
        bottom: 0;
        transform: translateX(-50%);
        height: 6px;
        width: 6px;
        border-radius: 50%;
        background-color: var(--text-color);
        opacity: 0;
        transition: all 0.3s ease;
    }

.nav-links li:hover a::before {
    opacity: 1;
}

@media (max-width: 790px) {
    .nav-links {
        flex-direction: column;
        padding-top: 30px;
    }

    .nav-links li a {
        display: block;
        margin-top: 20px;
    }
}
