@inherits CodeBreaker.UI.Shared.Components.Menu.CodeBreakerNavMenuBase
@namespace CodeBreaker.UI

<div class="top-nav-bar-menu">
    @foreach (var item in MenuItems)
    {
        <NavLink class="menu-link" href="@item.Href" ActiveClass="is-active" Match="NavLinkMatch.All">@item.Label</NavLink>
    }
</div>
