@foreach (string color in Pegs)
{
    <div class="peg @color.ToLower()" style="@Style"></div>
}

@code {
    [Parameter]
    public IEnumerable<string> Pegs { get; set; } = Array.Empty<string>();

    [Parameter]
    public string? Size { get; set; }

    private string? Style =>
        string.IsNullOrWhiteSpace(Size)
            ? null
            : $"width: {Size}";
}
