<div class="component-root">
    <div style="width: 100%;">
        <div class="flex">
            <div>@Game?.Code</div>
        </div>

        @if (!Game.HasValue || Game.Value.Moves.Count() == 0)
        {
            <p>No moves in this game</p>
        }
        else if (Game.Value.Moves.Count() > 0)
        {
            @foreach (var move in Game?.Moves!)
            {
                <div>
                    <div class="flex justify-center">
                        <div>@move.GuessPegs</div>
                    </div>
                    <div class="flex justify-center">
                        <div>@move.KeyPegs</div>
                    </div>
                </div>
            }
        }
    </div>
</div>


