<div class="pegs-container">
    <CascadingValue Value="this">
        @ChildContent
    </CascadingValue>
</div>

@code {
    [Parameter] public List<CodePeg> Pegs { get; set; } = new List<CodePeg>();
    [Parameter] public RenderFragment? ChildContent { get; set; }
    [Parameter] public EventCallback<CodePeg> OnCodePegUpdated { get; set; }

    public CodePeg Payload { get; set; }

    //public async Task UpdateJobAsync(JobStatuses newStatus)
    //{
    //    var task = Jobs.SingleOrDefault(x => x.Id == Payload.Id);

    //    if (task != null)
    //    {
    //        task.Status = newStatus;
    //        task.LastUpdated = DateTime.Now;
    //        await OnStatusUpdated.InvokeAsync(Payload);
    //    }
    //}
}

