<li class="draggable" draggable="true" title="@codePeg.Color" 
    @ondragstart="@(() => HandleDragStart(codePeg))">
    <p class="description">@codePeg.Color</p>
</li>
    

@code {
    [CascadingParameter] BreakerSelectionContainer? Container { get; set; }

    [Parameter] public string? Color { get; set; }

    private CodePeg codePeg;

    protected override void OnParametersSet()
    {
        if (Color is null) throw new InvalidOperationException("Color not set");

        codePeg = new CodePeg(Color);
    }

    private void HandleDragStart(CodePeg selectedCodePeg)
    {
        if (Container is null) throw new InvalidOperationException("Container is not configured");

        Container.Payload = selectedCodePeg;
    }
}
