* {
    -webkit-tap-highlight-color: transparent;
}

.mud-container {
    padding-top: 2em;
    padding-bottom: 2em;
}

.button-slot-start {
    margin-right: .5rem;
}

.mud-alert-message {
    width: 100%;
}
