@inherits CodeBreaker.UI.Shared.Components.Radio.CodeBreakerRadioGroupBase<T>
@namespace CodeBreaker.UI
@typeparam T

<div class="flex gap-2">
<InputRadioGroup Name="group-1" Value="Value" ValueChanged="ValueChanged" ValueExpression="ValueExpression">
    @foreach (var item in Items)
    {
        <label>
            <InputRadio TValue="T" Value="@item.Value" Name="group-1" />
            <span class="design"></span>
            <span class="text">@item.Key</span>
        </label>
    }
</InputRadioGroup>
</div>

