@namespace CodeBreaker.UI
@inherits CodeBreaker.UI.Shared.Components.ThemeSwitch.CodeBreakerThemeSwitchBase<float>

@if (_isInitialized)
{
    <FluentSwitch @bind-Value="IsDark" @bind-Value:after=OnSwitchTheme>
        <span class="light" slot="unchecked-message">Light</span>
        <span class="dark" slot="checked-message">Dark</span>
    </FluentSwitch>
}


