@namespace CodeBreaker.UI
@*TODO: Design own picker for this, because FastUI has no datepicker at the moment*@
<div class="root flex gap-1">
    <label>@Label</label>
    <InputDate Value="Date" ValueChanged="DateChanged" ValueExpression="() => Date"></InputDate>
</div>
