@inherits CodeBreaker.UI.Shared.Components.Card.CodeBreakerCardBase
@namespace CodeBreaker.UI

<FluentCard class="card">
    <div class="card-content">
        <div>
            @HeaderContent
        </div>
        <div>
            @HeaderActions
        </div>
        <div>
            @CardContent
        </div>
        <div>
            @CardActions
        </div>
    </div>
</FluentCard>


