@inherits CodeBreaker.UI.Shared.Components.Card.CodeBreakerCardBase
@namespace CodeBreaker.UI

<FluentCard class="card">
    <div class="card-container">
        <div>
            @HeaderContent
        </div>
        <div>
            @HeaderActions
        </div>
        <div class="content">
            @CardContent
        </div>
        <div class="actions">
            @CardActions
        </div>
    </div>
</FluentCard>


