@namespace CodeBreaker.UI

<FluentCard>
    <div>
        @HeaderContent
    </div>
    <div>
        @HeaderActions
    </div>
    <div>
        @CardContent
    </div>
    <div>
        @CardActions
    </div>
</FluentCard>


