@inherits CodeBreaker.UI.Shared.Components.Card.CodeBreakerCardBase
@namespace CodeBreaker.UI

<MudCard Elevation="3" Class="@($"card {Class}")">
    <MudCardHeader>
        <div>
            @HeaderContent
        </div>
        <div>
            @HeaderActions
        </div>
    </MudCardHeader>
    <MudCardContent Class="card-content">
        @CardContent
    </MudCardContent>
    <MudCardActions Class="card-actions">
        @CardActions
    </MudCardActions>
</MudCard>


