@inherits CodeBreaker.UI.Shared.Components.Card.CodeBreakerCardBase
@namespace CodeBreaker.UI

<MudCard Elevation="3" Class="@Class" Style="@Style">
    <MudCardHeader>
        <div>
            @HeaderContent
        </div>
        <div>
            @HeaderActions
        </div>
    </MudCardHeader>
    <MudCardContent>
        @CardContent
    </MudCardContent>
    <MudCardActions Style="align-self: flex-end;">
        @CardActions
    </MudCardActions>
</MudCard>


