@namespace CodeBreaker.UI

<MudCard>
    <div class="header">
        <div>
            @HeaderContent
        </div>
        <div>
            @HeaderActions
        </div>
    </div>
    <div>
        @CardContent
    </div>
    <div>
        @CardActions
    </div>
</MudCard>

@code {
    [Parameter]
    public RenderFragment HeaderContent { get; set; }

    [Parameter]
    public RenderFragment HeaderActions { get; set; }

    [Parameter]
    public RenderFragment CardContent { get; set; }
    [Parameter]
    public RenderFragment CardActions { get; set; }
}
