@namespace CodeBreaker.UI

<MudCard Class="@Class">
    <MudCardHeader>
        <div>
            @HeaderContent
        </div>
        <div>
            @HeaderActions
        </div>
    </MudCardHeader>
    <MudCardContent>
        @CardContent
    </MudCardContent>
    <MudCardActions Style="float: right;">
        @CardActions
    </MudCardActions>
</MudCard>


