@inherits CodeBreaker.UI.Shared.Components.Layout.CodeBreakerLayoutBase<string>
@namespace CodeBreaker.UI

<CodeBreakerDialog></CodeBreakerDialog>

<nav class="@(DrawerOpen ? "active" : "")">
    <div class="nav-bar">
        <i class='bx bx-menu sidebarOpen' @onclick=DrawerToggle></i>
        <span class="logo navLogo"><a href="#">@Label</a></span>

        <div class="menu">
            <div class="logo-toggle">
                <span class="logo"><a href="#">@Label</a></span>
                <i class='bx bx-x siderbarClose' @onclick=DrawerToggle></i>
            </div>

            @DrawerContent
        </div>
    </div>
</nav>

<div class="content">
    @ChildContent
</div>
