@inherits CodeBreaker.UI.Shared.Components.Layout.CodeBreakerLayoutBase<string>
@namespace CodeBreaker.UI

<CodeBreakerDialog></CodeBreakerDialog>

<div class="app">
    <div class="top-nav-bar">
        @DrawerContent
        <div class="mobile-header">
            <CodeBreakerIconButton
                Class="@(_isRoot ? "hidden" : string.Empty)"
                Icon="Shared.Models.Icon.CodeBreakerIcon.Back"
                OnClick="GoBack">
            </CodeBreakerIconButton>
            @Label
        </div>
        <div class="top-nav-bar-profile">
            @ToolbarContent
        </div>
    </div>
    <div class="wrapper">
        <div class="main-container">
            <div class="content-wrapper">
                @ChildContent
            </div>
        </div>
    </div>
</div>
