@foreach (var color in codeValues)
{
    <div class="keypeg @color"></div>
}

@code {
    private string codes = string.Empty;

    [Parameter]
    public string Codes 
    { 
        get => codes; 
        set
        {
            codes = value;
            codeValues = codes.Split(".").ToArray();
        } 
    }
    string[] codeValues = new string[] { };
}
