@for (int i = 0; i < Pegs?.Black; i++)
{
    <div class="keypeg black"></div>
}
@for (int i = 0; i < Pegs?.White; i++)
{
    <div class="keypeg white"></div>
}

@code {
    [Parameter]
    public CodeBreaker.Shared.Models.Data.KeyPegs? Pegs { get; set; }
}
