.btn {
    height: 50px;
    text-align: center;
    width: 250px;
    cursor: pointer;
    color: var(--button-text-color);
    transition: all 0.5s;
    position: relative;

    display: flex;
    align-items: center;
    justify-content: center;
}

    .btn.is-disabled {
        pointer-events: none;
        background: rgba(0, 0, 0, 0.04);
    }

    .btn:not(.is-disabled)::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
        background-color: rgba(0, 187, 240, 0.1);
        transition: all 0.3s;
    }

    .btn:hover::before {
        opacity: 0;
        transform: scale(0.5,0.5);
    }

    .btn::after {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: 1;
        opacity: 0;
        transition: all 0.3s;
        border: 1px solid var(--button-text-color);
        transform: scale(1.2,1.2);
    }

    .btn:hover::after {
        opacity: 1;
        transform: scale(1,1);
    }


    .btn.icon {
        width: 2rem;
        height: 2rem;
        border: 1px solid transparent;
        border-radius: 100vh;
    }

    .btn.icon::before {
        border-radius: 100vh;
        background-color: transparent;
    }

    .btn.icon::after {
        border-radius: 100vh;
    }
