@inherits CodeBreaker.UI.Shared.Components.Buttons.CodeBreakerButtonBase
@namespace CodeBreaker.UI

<div class="@(Disabled ? String.Join(" ", "btn is-disabled", Class) : String.Join(" ", "btn", Class))" @onclick=@OnClick>
    @ChildContent
</div>
