.mobile-nav-menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 0 1.5rem;
}

    .mobile-nav-menu ::deep .mud-nav-item {
        width: min-content;
        border-radius: 100vh;
    }

    .mobile-nav-menu ::deep .mud-nav-link-text {
        display: none;
    }

    .mobile-nav-menu ::deep .mud-nav-link {
        width: auto;
        justify-content: center;
    }

        .mobile-nav-menu ::deep .mud-nav-link svg {
            color: var(--mud-palette-appbar-text) !important;
        }
