@using UI.Shared.Models.Icon

<AuthorizeView>
    <Authorized>
        <CodeBreakerIconButton OnClick="BeginLogOut" Icon="CodeBreakerIcon.Logout"></CodeBreakerIconButton>
        @if (!String.IsNullOrWhiteSpace(context.User.Identity?.Name))
        {
            <span style="color: var(--text-color); margin-left: 1rem;">@context.User.Identity?.Name</span>
        }
    </Authorized>
    <NotAuthorized>
        <CodeBreakerIconButton OnClick="BeginLogIn" Icon="CodeBreakerIcon.Login"></CodeBreakerIconButton>
    </NotAuthorized>
</AuthorizeView>
