@using UI.Shared.Models.Icon

<AuthorizeView>
    <Authorized>
        <div style="display:flex; gap: 1rem; align-items: center;">
            @if (!String.IsNullOrWhiteSpace(context.User.Identity?.Name))
            {
                <span>@context.User.Identity.Name</span>
            }
            <CodeBreakerIconButton OnClick="BeginLogOut" Icon="CodeBreakerIcon.Logout"></CodeBreakerIconButton>
        </div>
    </Authorized>
    <NotAuthorized>
        <CodeBreakerIconButton OnClick="BeginLogIn" Icon="CodeBreakerIcon.Login"></CodeBreakerIconButton>
    </NotAuthorized>
</AuthorizeView>
