@using UI.Models.Icon

<AuthorizeView>
    <Authorized>
        <div class="user">
            @if (!String.IsNullOrWhiteSpace(context.User.Identity?.Name)) {
                <a href="/user-information">@context.User.Identity.Name</a>
            }
            <CodeBreakerIconButton OnClick="BeginLogOut" Icon="CodeBreakerIcon.Logout"></CodeBreakerIconButton>
        </div>
    </Authorized>
    <NotAuthorized>
        <CodeBreakerIconButton OnClick="BeginLogIn" Icon="CodeBreakerIcon.Login"></CodeBreakerIconButton>
    </NotAuthorized>
</AuthorizeView>
