@inherits LayoutComponentBase
@inject IStringLocalizer<Resource> Loc

<CodeBreakerLayout Label="@Loc["AppDisplayName"]">
    <ChildContent>
        <div class="content-container">@Body</div>
    </ChildContent>
    <DrawerContent>
        <CodeBreakerNavMenu MenuItems="_menuItems"></CodeBreakerNavMenu>
    </DrawerContent>
</CodeBreakerLayout>
