@inherits CodeBreaker.UI.Shared.Components.Tabs.CodeBreakerTabsBase
@namespace CodeBreaker.UI

@*<div data-tabs class="tabs">
    @ChildContent
</div>*@

<div data-tabs class="tabs">
    @ChildContent
</div>

