@inherits CodeBreaker.UI.Shared.Components.Menu.CodeBreakerNavMenuBase
@namespace CodeBreaker.UI

<ul>
    @foreach (var item in MenuItems)
    {
        <li>
            <FluentAnchor Href="@item.Href" Appearance=@SetAppearance(item.Href)>@item.Label</FluentAnchor>
        </li>
    }
</ul>




